/*
obszar 2
rog lewy e3d3c0, 221313
napis srodek efeeed
*/

$vars: (
    wwhite: #e3d3c0,
    lightb: #916037,
    semib: #623c24,
    darkb: #422418,
    bblack: #221313,
);

@mixin var($varName, $variable) {      // creating css code, @includes in code
    #{$varName}: map-get($vars, $variable); // create normal code, all browsers can read it
    #{$varName}: var(--#{$variable})   
}

:root {         // create fallbacks for each var 
    @each $varName, $value in $vars {       
        --#{$varName}: #{$value};
    };
    --ts: #000;
    --gradient: linear-gradient(60deg,
        #0000ff,
        #00ccff,
        #00ffcc,
        #00ff00,
        #66ff33,
        #ffff00,
        #ff6600,
        #ff66ff
    );
}

/****************************************  HEADER  ********************************/
body {
    @include var(background-color, lightb );
    margin: 0 auto;
    min-width: 1180px;
}

header {
    height: 100vh;
}

.container {
    display: flex;
}

.selfie {
    width: 80%;
    height: 95vh;
    @include var(background-color, semib);
    border-right: 5px solid var(--darkb);
    display: grid;
    place-items: center;
    perspective: 500px;
    perspective-origin: 50% calc(50% - 75px);
}

.block2 {
  position: relative;  
  transform-style: preserve-3d;
}

.selfie .container2 {
    display: flex;
    transform-style: preserve-3d;
    animation: rotate 30s infinite linear;
}

@keyframes rotate {
    to { transform: rotateY(-360deg);}
}

$width: 77.5px;
.panel {
    position: absolute;
    transform: translate(-50%, -50%) rotateY(var(--angle)) translateZ(293px);
    width: $width;
    height: 100px;
    overflow: hidden;
}

.panel::before {
    position: absolute;
    left: var(--left);
    content: "I'm front-end developer! I'm also concept artist!";
    font-size: 30px;
    width: max-content;
    @include var(color, bblack)
}

@for $i from 0 to 24 {
    .panel:nth-child(#{$i + 1}) {
        --left: #{$width * $i * -1};
        --angle: #{360deg / 24 * $i};
    }
}

.block {
  position: absolute;
  width: 600px; height: 200px;
  background-image: linear-gradient(90deg, transparent, #623c24, #623c24, #623c24, #623c24, transparent);
  transform: translate(-50%, -50%);
}

/**************************  NAVIGATION  ***********************************/


.nav {
    display: inline;
    width: 20%;
}

.nav h1{
    @include var(color, wwhite);
    text-align: center;
    text-shadow: 0.05em 0.05em 2px var(--ts), 0 0 1em var(--ts), 0 0 0.3em var(--ts);
    font-size: 60px;
}

.icons {
    display: flex;
    justify-content: space-around;
    border-top: 5px solid var(--darkb);
    border-bottom: 5px solid var(--darkb);
}

.icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    margin: 10px 0;
    @include var(background-color, semib);
    border-radius: 50%;
    text-decoration: none;
}

.icons i {
    @include var(color, bblack);
    font-size: 32px;
}

.icons a:hover i {
    @include var(color, bblack);
    font-size: 38px;
}

.links a {
    display: block;
    margin: 70px 0;
    @include var(color, wwhite);
    text-align: center;
    text-decoration: none;
    text-shadow: 0.05em 0.05em 2px var(--ts), 0 0 1em var(--ts), 0 0 0.3em var(--ts);
    font-size: 40px;
    font-weight: 700;
}

.links a:hover {
    font-size: 46px;
}

/*******************************  ARROWS  ********************************/

.arrows {
    text-align: center;
    padding: 0px 0;
    border-top: 5px solid var(--darkb);
}

.arrows i {
    @include var(color, wwhite);
    font-size: 30px;
    animation: slide1 ease 1.5s infinite;
}

@keyframes slide1 {
    0%, 100% {transform: translate(0, 0);}
    50% {transform: translate(0, 10px);}
}

.arrows i:hover {
    font-size: 34px;
}

/*******************************  ABOUT  ********************************/

.about {
    display: flex;
    height: 100vh;
}

.about .am {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 0vw;
    @include var(background-color, wwhite);
    border-radius: 30px;
    transition-duration: 2s;
}

.about:hover .am {
    margin-top: 30px;
    width: 35vw;
    border-radius: 30px;
}

.about .am .subtitle {
    font-size: 0px;
    transition-delay: 0.5s;
    transition-duration: 1s;
}

.about:hover .am .subtitle {
    @include var(color, bblack);
    font-size: 48px;
}

.about .text-box {
    position: absolute;
    margin: 25vh 0 0 12vw;
    width: 50vw;
    height: 50vh;
}

.about .text-box .type {
    overflow: hidden;
    @include var(color, wwhite);
    font-size: 32px;
    line-height: 1.7;
    background-size: 500%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-position: left;
    background-image: var(--gradient);
    animation: bg-anim 30s linear infinite alternate;
}

@keyframes bg-anim {
    0% { background-position: left; } 100% { background-position: right; }
}

