/*
obszar 2
rog lewy e3d3c0, 221313
napis srodek efeeed
*/

/****************************************  HEADER  ********************************/

header {
    background-color: #916037;
    height: 100vh;
}

.container {
    display: flex;
}

.selfie {
    width: 80%;
    height: 95vh;
    background-color: #623c24;
    border-right: 5px solid #422418;
    display: grid;
    place-items: center;
    perspective: 500px;
    perspective-origin: 50% calc(50% - 75px);
}

.block2 {
  position: relative;  
  transform-style: preserve-3d;
}

.selfie .container2 {
    display: flex;
    transform-style: preserve-3d;
    animation: rotate 30s infinite linear;
}

@keyframes rotate {
    to { transform: rotateY(-360deg);}
}

$width: 77.5px;
.panel {
    position: absolute;
    transform: translate(-50%, -50%) rotateY(var(--angle)) translateZ(293px);
    width: $width;
    height: 100px;
    overflow: hidden;
}

.panel::before {
    position: absolute;
    left: var(--left);
    content: "I'm front-end developer! I'm also concept artist!";
    font-size: 30px;
    width: max-content;
    color: black;
}

@for $i from 0 to 24 {
    .panel:nth-child(#{$i + 1}) {
        --left: #{$width * $i * -1};
        --angle: #{360deg / 24 * $i};
    }
}

.block {
  position: absolute;
  width: 600px; height: 200px;
  background-image: linear-gradient(90deg, transparent, #623c24, #623c24, #623c24, #623c24, transparent);
  transform: translate(-50%, -50%);
}

/**************************  NAVIGATION  ***********************************/


.nav {
    display: inline;
    width: 20%;
}

.nav h1{
    color: #e3d3c0;
    text-align: center;
    text-shadow: 0.05em 0.05em 2px black, 0 0 1em black, 0 0 0.3em black;
    font-size: 60px;
}

.icons {
    display: flex;
    justify-content: space-around;
    border-top: 5px solid #422418;
    border-bottom: 5px solid #422418;
}

.icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    margin: 10px 0;
    background-color: #623c24;
    border-radius: 50%;
    text-decoration: none;
}

.icons i {
    color: #221313;
    font-size: 32px;
}

.icons a:hover i {
    color: black;
    font-size: 38px;
}

.links a {
    display: block;
    margin: 70px 0;
    color: #e3d3c0;
    text-align: center;
    text-decoration: none;
    text-shadow: 0.05em 0.05em 2px black, 0 0 1em black, 0 0 0.3em black;
    font-size: 40px;
    font-weight: 700;
}

.links a:hover {
    font-size: 46px;
}

/*******************************  ARROWS  ********************************/

.arrows {
    text-align: center;
    padding: 0px 0;
    border-top: 5px solid #422418;
}

.arrows i {
    color: #e3d3c0;
    font-size: 30px;
    animation: slide1 ease 1.5s infinite;
}

@keyframes slide1 {
    0%, 100% {transform: translate(0, 0);}
    50% {transform: translate(0, 10px);}
}

.arrows i:hover {
    font-size: 34px;
}

/*******************************  ABOUT  ********************************/

.about {
    height: 100vh;
    background-color: #916037;
}

.about .am {
    height: 20vh;
    background-color: #e3d3c0;
}